<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{AGENT_DOMAIN}}.dashboard</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>{{CONFIG_DIR}}/asus_ports.py</string>
        <string>serve</string>
        <string>--port</string>
        <string>{{DASHBOARD_PORT}}</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>5</integer>
    <key>StandardOutPath</key>
    <string>{{LOG_DIR}}/port-tracker-dashboard.log</string>
    <key>StandardErrorPath</key>
    <string>{{LOG_DIR}}/port-tracker-dashboard.err</string>
</dict>
</plist>
